/* UNIVERSAL */
* {
    border: 1px solid blue;
}
.gameContainer * {
    border: 1px solid black;
}


.gameContainer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;

    width: 200px;
    height: 200px;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}






.grid-item {
    
}
.grid-item:hover {
    background-color: orange;
}
