/* UNIVERSAL */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 100vh;
}


* {
    border: 1px solid blue;
}
.mainContainer {
    display: flex;
    flex-direction: column;

}

.gameContainer * {
    border: 1px solid black;
}

.player-display {
    display: flex;
    justify-content: space-between;

    padding: 5px;
}
.playerSymbol {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.gameContainer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    border: 5px solid black;

    width: 30vw;
    height: 30vw;

}
.row {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 30px;
    font-weight: bold;
}

.grid-item-x {
    background-color: #db3760;
    color: #ffffff;
    font-size: 60px;
}.grid-item-x:active {
    background-color: #db3760;
    color: #ffffff;
    /* font-size: 30px; */
}
/* .grid-item-x:hover {
    background-color: #df5e7e;
    color: #eedcdc;
} */
.grid-item-o {
    background-color: #085ee0;
    color: #f5f7ff;
    font-size: 60px;
}
.grid-item-o:active{
    background-color: #085ee0;
    color: #f5f7ff;
    /* font-size: 30px; */
}
/* .grid-item-o:hover {
    background-color: #3075dc;
    color: #e3e7fc;
} */

#resetBtnContainer {
    display: flex;
    justify-content: flex-end;

    margin-top: 10px;
    width: 99%;
}
#resetBtn {
    background-color: #e0436b;
    color: white;

    width: 100px;
    height: 40px;
}
#resetBtn:hover {
    background-color: #e20c41;
}
#resetBtn:active {
    background-color: #d90439;
}


